<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="1.60.3" targetFramework="net461" />
  <package id="SkiaSharp.Views" version="1.60.3" targetFramework="net461" />
  <package id="YSE.NET.PCL" version="1.0.45" targetFramework="net461" />
  <package id="Yse.NET.Standard" version="1.0.79" targetFramework="net461" />
</packages>